.add-item-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5em;
    column-gap: 0.5em;
    justify-content: center;
    margin-bottom: 1em;
}

.add-item-input {
    width: 500px;
    height: 2em;
    font-size: 18px;
}

.add-item-button {
    width: 6em;
    height: 3em;
    font-size: 14px;
}

@media (max-width: 640px) {
    .add-item-input {
        width: 100%;
    }

    .add-item-button {
        width: 100%;
    }
}
