.items-table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

.items-table td {
    display: table-cell;
    margin: 0;
    padding: 1em;
    text-align: left;
    word-wrap: break-word;
    max-width: 400px;
}

.items-table .items-table-mark {
    text-align: right;
}

.items-table .items-table-status-text {
    text-align: center;
}

.item-done {
    text-decoration: line-through;
}

@media (max-width: 640px) {
    .items-table {
        width: 100%;
    }

    .items-table .items-table-mark {
        width: 5%;
    }
}
