.items-table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    border: 1px dotted;
}

.items-table td {
    display: table-cell;
    margin: 0;
    padding: 1em;
    text-align: left;
    word-wrap: break-word;
    max-width: 400px;
}

.items-table .items-table-status-text {
    text-align: center;
}

