@font-face {
  font-family: 'Poppins-Regular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #313338;
  color: #ffffff;
  font-family: 'Poppins-Regular', sans-serif;
}

.content {
  margin: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
}
